@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #fefefe;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

body .navbar-brand {
    font-size: 1.8em;
}